{% extends "base.html" %}
{% load static %}

{% block head %}

<script src="{% static "javascript/codemirror.js" %}"></script>
<link rel="stylesheet" href="{% static "css/codemirror.css" %}">

<script src="{% static "javascript/mode/clike/clike.js" %}"></script>

<script src="{% static "javascript/codeoutput.js" %}"></script>

{% endblock %}

{% block content %}

<div id="challenge" class="hide">
<div id="challengeID">{{ challenge.id }}</div>
<div id="has-indent">{{ challenge.has_indent }}</div>
</div>

<div class="columns">

<div class="column" id="challenge-column">

    <div id="challenge-desc">
	    <h1 class="title">{{ challenge.name }}</h1>
	
	    <div class="box has-background-grey-dark">
	    {{ challenge.desc }}	
	    </div>
    </div>
    
</div>

<div class="column is-half" id="code-column">

	<h1 class="title">Code</h1>
	
	<div class="box"><textarea id="code-area" autofocus="true" placeholder="Start your code here!" rows="4" cols="50"></textarea>
	
	<div class="margintop"><div id="code-progress"></div></div>
    	
	<div class="margintop">
    
    <a id="runcode" class="button is-primary">Run</a>
    
    <span id="code-player">
    
    <a class="button is-success" id="button-play-code"><i class="fas fa-play"></i></a>
    <a class="button is-danger" id="button-stop-code"><i class="fas fa-stop"></i></a>
    
    </span>
    
    </div>
	
	</div>
	
</div>

<div class="column" id="output-column">

	<h1 class="title">Output</h1>
	
	<div id="code-output" class="box has-background-grey-dark">
    
    <ul>
    <output-panel
    v-for="out in outputs"
    v-bind:key="out.content"
    v-bind:class="out.className"
    v-bind:content="out.content"
    ></output-panel>
    </ul>
    
    </div>
	
</div>
	
</div>

</div>

{% endblock %}
