{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static "javascript/codemirror.js" %}"></script>
<link rel="stylesheet" href="{% static "css/codemirror.css" %}">
<script src="{% static "javascript/mode/clike/clike.js" %}"></script>
<link rel="stylesheet" href="{% static "javascript/theme/eclipse.css" %}">
{% endblock %}

{% block title %}
CSUK - {{ challenge.name }}
{% endblock %}

{% block content %}
<div id="challenge" class="hidden">
   <div id="challengeID">{{ challenge.id }}</div>
   <div id="has-indent">{{ challenge.has_indent }}</div>
</div>

<div class="tile is-ancestor" id="tile-root">

   <div class="tile is-parent is-8" id="tile-code-panel">
      <textarea id="code-area" autofocus="true" placeholder="Loading..." rows="4" cols="50">    
      </textarea>
   </div>
   
   <div class="tile is-parent is-vertical is-4" id="tile-parent-1">
   
      <div class="tile is-parent" id="tile-parent-2">
         <div class="tile is-child is-12" id="tile-output">
            <div id="info-panel">
               <div class="center padding-v"><h1>{{ challenge.name }}</h1></div>
                              
               <div class="center padding-v margin-text" id="info-desc">
<transition
  appear
  mode="out-in"
  v-on:appear="onTextAppear"
  v-on:before-appear="onBeforeTextAppear"
  v-bind:css="false"
>
               <div>{{ challenge.desc }}</div>
               
               </transition>
               
               </div>
            </div>
         </div>
      </div>
      
      <div class="tile is-parent" id="tile-parent-3">
         <div class="tile is-child is-12" id="tile-code-output">
            <div id="code-output">
                <ul>
                <output-panel
                v-for="out in outputs"
                v-bind:key="out.content"
                v-bind:class="out.className"
                v-bind:content="out.content"
                ></output-panel>
                </ul>
                
            </div>
         </div>
      </div>
      
      <div class="tile is-parent" id="tile-parent-4">
         <div class="tile is-child is-12" id="tile-code-player">
            <div id="code-player">
               <a class="player-button" id="button-play-code"><i class="fas fa-play"></i></a>
            </div>
         </div>
      </div>
      
   </div>
</div>
{% endblock %}

{% block tail %}
<script src="{% static "javascript/codeoutput.js" %}"></script>
{% endblock %}