/** Default to white text */
.cm-s-eclipse span { color: white; }

/** Theme specific parts of the code */
.cm-s-eclipse span.cm-meta { color: #26ADFF; }
.cm-s-eclipse span.cm-keyword { line-height: 1em; font-weight: bold; color: #FD844D; }
.cm-s-eclipse span.cm-atom { color: #219; }
/* integer literals */
.cm-s-eclipse span.cm-number { color: #64E990; }
.cm-s-eclipse span.cm-def { color: white; }
/* variable names */
.cm-s-eclipse span.cm-variable { color: white; }
.cm-s-eclipse span.cm-variable-2 { color: white; }
/* data types */
.cm-s-eclipse span.cm-variable-3 { color: white; }
.cm-s-eclipse span.cm-type { color: #FFFFFF; }
.cm-s-eclipse span.cm-property { color: white; }
.cm-s-eclipse span.cm-operator { color: white; }
/* comments */
.cm-s-eclipse span.cm-comment { color: #64E990; }
/* strings in between quotes */
.cm-s-eclipse span.cm-string { color: #5050FF; }
.cm-s-eclipse span.cm-string-2 { color: #f50; }
.cm-s-eclipse span.cm-qualifier { color: #555; }
.cm-s-eclipse span.cm-builtin { color: #30a; }
.cm-s-eclipse span.cm-bracket { color: #cc7; }
.cm-s-eclipse span.cm-tag { color: white; }
.cm-s-eclipse span.cm-attribute { color: white; }
.cm-s-eclipse span.cm-link { color: #219; }
.cm-s-eclipse span.cm-error { color: #f00; }
.cm-s-eclipse.CodeMirror{ background:#0B0E09; font-size: 16pt; font-family: 'Inconsolata', monospace; }
.cm-s-eclipse.CodeMirror pre { padding: 0px 20px; }
.cm-s-eclipse .CodeMirror-lines { padding: 10px 0px; }

.cm-s-eclipse .CodeMirror-gutters { background-color: #0B0E09; }

.cm-s-eclipse .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-eclipse .CodeMirror-matchingbracket { outline:1px solid white; color:black !important; }

.cm-s-eclipse div.CodeMirror-selected { background: #1E1E35 !important; }
