{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/bulma.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
    <script src="{% static "javascript/base.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
	
	{% block head %}
	{% endblock %}
	
</head>
<body>
        
    <div class="container" id="app">
    
    <div class="header center">
    <img src="{% static "images/site_logo.png" %}" alt="Logo" width="200px" height="75px">
    </div>
    
	{% block content %}{% endblock %}
    </div>
    
    <div class="cs-box black" id="footer">
    <p><a class="light" href="https://github.com/wilfp/CS-Studio">GitHub</a> | <a class="light" href="https://www.linkedin.com/company/csukltd">Company</a> | <a class="light" href="https://www.linkedin.com/in/wilf/">Creator</a></p>
	<p>© 2019 CSUK LIMITED</p>
	</div>
        
    </body>
</html>
