body {
    background-color: #0B0E09;
    font-family: 'Inconsolata';
    font-size: 16pt;
    color: white;
}

h1 {
    
}

h2 {
	
}

div.margin{
	margin: 5px;
}

div.margin-top{
	margin-top: 6%;
}

div.margin-bottom{
	margin-bottom: 6%;
}

div.code-panel{
    background-color: #F4F4F4;
}

div.cs-box{
    background-color: inherit;
    padding: 2.5%;
}

.red{
    background-color: #AD4E3D!important;
}

.dark-blue{
    background-color: #323292!important;
}

.black{
    background-color: #000000!important;
}

.white{
    background-color: white!important;
    color: black!important;
}

.center{
    text-align: center;
    margin: auto;
    display: table;
}

.hidden{
    display: none;
}

.padding-v{
    padding-top: 12px;
    padding-bottom: 12px;
}

.margin-text{
    margin-left: 5px;
    margin-right: 5px;
}

a.player-button{
    color: white;
    border-width: 0px;
    padding: 20px;
    font-size: 15pt;
}

a.player-button:hover{
    color: grey!important;
}

a{
    color: #CFCFFF;
}

button.is-loading{
    color: green;
}

div.header{
    padding: 3% 3% 5% 5%;
}

#footer{
    text-align: center;
}

#code-column{
	min-height: 600px;
}

#variables-panel{
	min-height: 400px;
}

div.text-box{
    background-color: inherit;
    font-size: 16pt;
}

#info-panel{
    background-color: inherit;
    font-size: 16pt; 
}

#code-player{
    background-color: #AD4E3D;
}

.highlight{
    background-color: #1E1E35;
}

