body {
    background-color: #1E1E1E;
    font-family: 'Inconsolata';
    color: white;
}

h1 {
    
}

h2 {
	
}

div.margin{
	margin: 5px;
}

div.margin-top{
	margin-top: 6%;
}

div.margin-bottom{
	margin-bottom: 6%;
}

div.code-panel{
    background-color: #F4F4F4;
}

div.cs-box{
    background-color: #AD4E3D;
    padding: 2.5%;
}

.dark-blue{
    background-color: #1E1E35!important;
}

.black{
    background-color: #000000!important;
}

.white{
    background-color: white;
}

.center{
    text-align: center;
    margin: auto;
    display: table;
}

.hidden{
    display: none;
}

.padding-v{
    padding-top: 12px;
    padding-bottom: 12px;
}

.margin-text{
    margin-left: 5px;
    margin-right: 5px;
}

a.player-button{
    border-width: 0px;
    padding: 20px;
    font-size: 15pt;
}

a.light{
    color: #CFCFFF;
}

button.is-loading{
    color: green;
}

div.header{
    padding-top: 2%;
    margin-bottom: 6%;
    background-color: inherit;
}

#footer{
    margin-top: 6%;
    text-align: center;
}

#code-column{
	min-height: 600px;
}

#variables-panel{
	min-height: 400px;
}

#info-panel{
    background-color: inherit;
    font-size: 16pt; 
}

#code-player{
    background-color: #AD4E3D;
}

.highlight{
    background-color: #1E1E35;
}
